<!DOCTYPE html>
<html>
  <head>
    <title>APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>
      <a href="<%= signUplink.href %>"><%= signUplink.text %></a>
    </div>

    <div>
      <a href="<%= signInlink.href %>"><%= signInlink.text %></a>
    </div>

  </body>
</html>
